:root {
  --font-primary: "Montserrat", sans-serif;
  --color-secondary: #f0ebd8;
  --tamno-plava: #1d2d44;
  --svijetlo-plava: #3e5c76;
  --tamno-siva: #4d4d4d;
  --siva: #4f4f4f;
}

html,
body {
  font-family: var(--font-primary);
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
}

* {
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.bg-second {
  background-color: var(--color-secondary);
}

.bg-tamno-plava {
  background-color: var(--tamno-plava);
}

.bg-svijetlo-plava {
  background-color: var(--svijetlo-plava);
}

.bg-pattern {
  background-image: url(img/bg-patern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-siva {
  background-color: #fafafa;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.border-black {
  border: 1px solid #000000;
}

.btn {
  border-radius: 0px;
  font-size: 16px;
  line-height: 1.4;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 15px;
}

.btn-plavi,
.btn-plavi:hover,
.btn-plavi:active,
.btn-plavi:focus {
  background-color: var(--tamno-plava);
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-crna-outline {
  border: 2px solid #000000;
}

.btn-crna-outline:hover,
.btn-crna-outline:active,
.btn-crna-outline:focus {
  border: 2px solid var(--tamno-plava);
  background-color: var(--tamno-plava);
  color: #ffffff;
}

.btn-plavi-light {
  background-color: var(--svijetlo-plava);
  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-plavi-light:hover,
.btn-plavi-light:active,
.btn-plavi-light:focus {
  background-color: #ffffff;
  color: var(--svijetlo-plava);
  border: 2px solid var(--svijetlo-plava);
}

/***************************************************
                Page Top
***************************************************/

.page-top img {
  height: 60px;
  width: auto;
}

/***************************************************
               Hero
***************************************************/

.hero-sekcija {
  padding-top: 25px;
}

.hero-content img {
  height: auto;
  width: 100%;
}

/***************************************************
               Vijesti pocetna
***************************************************/

.vijesti-kategorija {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.vijesti-kartica-slika {
  overflow: hidden;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.vijesti-kartica {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vijesti-kartica-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vijesti-kartica-body .btn-wrapper {
  margin-top: auto;
  padding-top: 50px;
}
.carousel {
  border: 1px solid #000000;
}

.vijesti-kartica-slika img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.vijesti-kartica-slika img:hover {
  transform: scale(1.1);
}

.vijesti-kartica-body {
  padding: 25px;
}

.vijesti-kartica-nalov {
  margin-bottom: 40px;
}

.vijesti-kartica-nalov a {
  text-decoration: none;
  color: var(--tamno-siva);
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
}

.vijesti-kartica-tekst {
  font-size: 14px;
  color: var(--tamno-siva);
  line-height: 1.2;
}

.vijesti-kartica-tekst p:last-child {
  margin-bottom: 0px;
}

.vijesti-kartica-tekst p::first-letter {
  font-weight: 700;
}

.vijesti-kartica:hover .vijesti-kartica-body {
  background-color: var(--tamno-plava);
}

.vijesti-kartica:hover .vijesti-kartica-nalov a,
.vijesti-kartica:hover .vijesti-kartica-tekst {
  color: #ffffff;
}

.vijesti-slider-paginacija {
  position: relative;
}

.vijesti-slider-paginacija .carousel-indicators {
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.vijesti-slider-paginacija .carousel-indicators [data-bs-target] {
  width: 9px;
  height: 9px;
}

.vijesti-kartica:hover .btn-plavi:focus {
  background-color: #ffffff;
  color: var(--tamno-plava);
}


/***************************************************
               Kolumne
***************************************************/

.kolumna-box {
  border: 1px solid var(--svijetlo-plava);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.kolumna-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.kolumna-slika {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.kolumna-body .btn-wrapper {
  margin-top: auto;
}

.kolumna-slika img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.kolumna-slika img:hover {
  scale: 1.1;
}

.kolumna-slika:hover .kolumna-autor {
  display: none;
}

.kolumna-badge {
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: var(--tamno-plava);
  color: #ffffff;
  border: 1px solid #ffffff;
}

.kolumna-autor {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  background-color: var(--tamno-plava);
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}

.kolumna-naziv a{
  color: var(--svijetlo-plava);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.kolumna-tekst p:last-child {
  margin-bottom: 0px;
}

.kolumna-tekst {
  color: var(--siva);
  line-height: 1.4;
  flex: 1;
}




/***************************************************
               Standard Section
***************************************************/

.naslov-sekcije h2 {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  color: #f3f3f3;
  font-weight: 500;
}

/***************************************************
               Odeljenja 
***************************************************/

.odeljenje-ikonica img {
  height: 85px;
  width: 85px;
}

.odeljenje-naziv {
  font-size: 26px;
  color: #323232;
  font-weight: 500;
}

.odeljenje-tekst p:last-child {
  margin-bottom: 0px;
}

.odeljenje-tekst {
  font-size: 16px;
  line-height: 1.4;
  color: #323232;
  flex: 1;
}

.odeljenje-kartica {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 100%;
}

.odeljenje-btn {
  margin-top: auto;
}

.odeljenje-kartica:hover {
  background-color: var(--svijetlo-plava);
}

.odeljenje-kartica:hover .odeljenje-naziv,
.odeljenje-kartica:hover .odeljenje-tekst {
  color: #ffffff;
}

/***************************************************
              Video podcast
***************************************************/

.glavni-video iframe,
.manji-video iframe {
  width: 100%;
}

.glavni-video img,
.manji-video img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.glavni-video iframe {
  height: 400px;
}

.manji-video iframe {
  height: 300px;
}

.glavni-video-vijest h3 a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #4f4f4f;
  margin-bottom: 30px;
}

.glavni-video-vijest .tekst-vijesti p:last-child {
  margin-bottom: 0px;
}

.glavni-video-vijest .tekst-vijesti {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5;
}

/***************************************************
              Dokumenti
***************************************************/

.dok-ikonica {
  padding: 10px;
  margin-bottom: 25px;
}

.dok-ikonica img {
  height: 35px;
  width: auto;
  filter: invert(15%) sepia(55%) saturate(501%) hue-rotate(176deg)
    brightness(95%) contrast(96%);
}

.dok-title h6 {
  font-size: 18px;
  color: var(--tamno-plava);
  font-weight: 700;
  margin-bottom: 30px;
}

.dok-tekst p:last-child {
  margin-bottom: 0px;
}

.dok-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--svijetlo-plava);
  padding: 20px 10px;
}

.dok-tekst {
  font-size: 14px;
  color: #0d1321;
  flex: 1;
}

.dok-box .btn-wrapper {
  margin-top: auto;
  padding-top: 30px;
}

.dok-box:hover {
  background-color: var(--svijetlo-plava);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.dok-box:hover .dok-ikonica img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.dok-box:hover .btn-crna-outline {
  background-color: var(--tamno-plava);
  color: #ffffff;
}

.dok-box:hover .dok-tekst,
.dok-box:hover .dok-title h6 {
  color: #ffffff;
}

.o-institutu-slika img {
  width: 100%;
  height: auto;
}

.o-institutu-tekst-block {
  padding: 25px;
}

.o-institutu-tekst-block h4 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: var(--siva);
}

.o-institutu-tekst p:last-child {
  margin-bottom: 0px;
}

.o-institutu-tekst {
  color: var(--siva);
  font-size: 16px;
  line-height: 1.4;
}

/***************************************************
              Kontakt 
***************************************************/

.lokacija-map iframe {
  width: 100%;
  height: 450px;
}

.form-label {
  color: var(--tamno-plava);
  font-size: 18px;
}

.form-control {
  border-radius: 0%;
  font-size: 18px;
  color: var(--tamno-plava);
}

.form-control:focus {
  border: 1px solid var(--svijetlo-plava);
  box-shadow: none;
}

/***************************************************
              Footer 
***************************************************/

.copyright {
  color: #ffffff;
  font-size: 14px;
}

/*******************************************
             Responsive
*******************************************/
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
  .naslov-sekcije h2 {
    font-size: 26px;
  }
  .glavni-video-vijest h3 a {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .odeljenje-kartica {
    border-left: none;
    border-right: none;
    border-bottom: 10px solid #ffffff;
  }
  .vijesti-kartica-body {
    background-color: var(--tamno-plava);
  }
  .vijesti-kartica-nalov a, .vijesti-kartica-tekst {
    color: #ffffff;
  }

  .vijesti-kartica-body .btn-plavi:focus, .vijesti-kartica-body .btn-plavi:active {
    background-color: #ffffff;
    color: var(--tamno-plava);
  }
}

@media (max-width: 768px) {
  .lokacija-map iframe {
    height: 350px;
  }
}

@media (max-width: 591px) {
  .page-top img {
    height: 40px;
  }
  .vijesti-kartica-nalov {
    margin-bottom: 20px;
  }
  .vijesti-kartica-body .btn-wrapper {
    padding-top: 10px;
  }
  .vijesti-kartica-slika img {
    height: 200px;
  }
  .naslov-sekcije h2 {
    font-size: 20px;
  }
  .glavni-video iframe {
    height: 300px;
  }
  .lokacija-map iframe {
    height: 250px;
  }
}

@media (max-width: 420px) {
}

@media (max-width: 350px) {
}
